[submodule "proyects/menu"]
    path = proyects/menu
    url = https://github.com/magdaleno88/Portafolio/tree/main/proyects/menu

[submodule "proyects/shop"]
    path = proyects/shop
    url = https://github.com/magdaleno88/Portafolio/tree/main/proyects/shop